.nav {
    display: flex;
    background-color: black;
    padding: 20px;
  }

  .center {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .center a {
    color: white;
    padding: 2%;
    font-size: 18px;
    text-decoration: none;
    font-family:arial;
  }